# Course project

**Основное**
- Дедлайн - 19 февраля 23:59
- Целевая метрика precision@5
- Бейзлайн решения - [MainRecommender](https://github.com/geangohn/recsys-tutorial/blob/master/src/recommenders.py)
- Сдаем ссылку на github с решением. В решении должны быть отчетливо видна метрика на новом тестовом сете из файла retail_test1.csv, то есть вам нужно для всех юзеров из этого файла выдать выши рекомендации, и посчитать на actual покупках precision@5. 

**!! Мы не рассматриваем холодный старт для пользователя, все наши пользователя одинаковы во всех сетах, поэтому нужно позаботиться об их исключении из теста.**


**Hints:** 

Сначала просто попробуйте разные параметры MainRecommender:  
- N в топ-N товарах при формировании user-item матирцы (сейчас топ-5000)  
- Различные веса в user-item матрице (0/1, кол-во покупок, log(кол-во покупок + 1), сумма покупки, ...)  
- Разные взвешивания матрицы (TF-IDF, BM25 - у него есть параметры)  
- Разные смешивания рекомендаций (обратите внимание на бейзлайн - прошлые покупки юзера)  

Сделайте MVP - минимально рабочий продукт - (пусть даже top-popular), а потом его улучшайте

Если вы делаете двухуровневую модель - следите за валидацией

### История прокачки модели

Оставлять в ноутбуке весь хлам и все попытки решил нецелесообразно, поэтому просто перезагружал ноутбук с разными параметрами, иначе бы он раздулся на пару сотен мб )) Поэтому краткое изложение ниже.


Пробовал разные варианты и двухуровневую пытался прокачать и als, в какой-то момент понял, что проще допилить own_rec. Правда для этого пришлось пошаманить над bm25, чуть не превратив его в bm15)) пришлось К1 занизить до 10, а В до 0.05. Но этого было мало. Пробовал даже отсечь большую часть набора данных, чтобы отсечь друние сезоны и оставить +- тот же период года, что и в тесте, но метрика упала.
Игрался с количеством товаров и кандидатов. был один период, когда были весьма обнадеживающие результаты двухуровневой модели (около 0.2) при 1000 товаров и 50 кандидатов, но дальше особо не двигалось, в конце концов пришел к 15000 товаров, снизил VAL_MATCHER_WEEKS до 3 недель, получил 0.239, поигрался еще с параметрами, больше особо не выжимало. Понизил VAL_MATHER до 1 (ради интереса) и получил 0.259))). Пробовал полностью все отдать на трейн, понижать VAL_MATCHER др 0, но становилось только хуже, поэтому остановился на той конфигурации, которая сейчас)) (параметры bm25 жкстко зафиксированы в MainRecommender).

# Import libs

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix

# Матричная факторизация
from implicit import als

# Модель второго уровня
from lightgbm import LGBMClassifier

import os, sys
module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

# Написанные нами функции
from metrics import precision_at_k, recall_at_k
from utils import prefilter_items
from recommenders import MainRecommender

## Read data

In [2]:
data = pd.read_csv('retail_train.csv')
item_features = pd.read_csv('product.csv')
user_features = pd.read_csv('hh_demographic.csv')

In [3]:
data.head()

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0

In [4]:
data.week_no.max()

95

# Set global const

In [5]:
ITEM_COL = 'item_id'
USER_COL = 'user_id'
ACTUAL_COL = 'actual'

# N = Neighbors
N_PREDICT = 200

# Process features dataset

In [6]:
# column processing
item_features.columns = [col.lower() for col in item_features.columns]
user_features.columns = [col.lower() for col in user_features.columns]

item_features.rename(columns={'product_id': ITEM_COL}, inplace=True)
user_features.rename(columns={'household_key': USER_COL }, inplace=True)

# Split dataset for train, eval, test

In [7]:
# Важна схема обучения и валидации!
# -- давние покупки -- | -- 6 недель -- | -- 3 недель -- 
# подобрать размер 2-ого датасета (6 недель) --> learning curve (зависимость метрики recall@k от размера датасета)


VAL_MATCHER_WEEKS = 1
VAL_RANKER_WEEKS = 3

In [8]:
# берем данные для тренировки matching модели
data_train_matcher = data[data['week_no'] < data['week_no'].max() - (VAL_MATCHER_WEEKS + VAL_RANKER_WEEKS)]

# берем данные для валидации matching модели
data_val_matcher = data[(data['week_no'] >= data['week_no'].max() - (VAL_MATCHER_WEEKS + VAL_RANKER_WEEKS)) &
                      (data['week_no'] < data['week_no'].max() - (VAL_RANKER_WEEKS))]

# берем данные для тренировки ranking модели
data_train_ranker = data_val_matcher.copy()  # Для наглядности. Далее мы добавим изменения, и они будут отличаться

# берем данные для теста ranking, matching модели
data_val_ranker = data[data['week_no'] >= data['week_no'].max() - VAL_RANKER_WEEKS]

In [9]:
data_train_matcher

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2252298,2244,41160059330,628,1044078,1,5.39,372,-2.54,1744,90,0.0,0.0
2252299,2244,41160059330,628,1059969,1,0.79,372,-0.20,1744,90,0.0,0.0
2252300,2244,41160059330,628,1082185,1,0.64,372,0.00,1744,90,0.0,0.0
2252301,2244,41160059330,628,1088835,2,1.18,372,0.00,1744,90,0.0,0.0
2252302,2244,41160059330,628,12132198,1,2.00,372,-0.88,1744,90,0.0,0.0

In [10]:
# сделаем объединенный сет данных для первого уровня (матчинга)
df_join_train_matcher = pd.concat([data_train_matcher, data_val_matcher])

In [11]:
def print_stats_data(df_data, name_df):
    print(name_df)
    print(f"Shape: {df_data.shape} Users: {df_data[USER_COL].nunique()} Items: {df_data[ITEM_COL].nunique()}")

In [12]:
print_stats_data(data_train_matcher,'train_matcher')
print_stats_data(data_val_matcher,'val_matcher')
print_stats_data(data_train_ranker,'train_ranker')
print_stats_data(data_val_ranker,'val_ranker')

train_matcher
Shape: (2251517, 12) Users: 2499 Items: 86343
val_matcher
Shape: (26973, 12) Users: 1342 Items: 11528
train_ranker
Shape: (26973, 12) Users: 1342 Items: 11528
val_ranker
Shape: (118314, 12) Users: 2042 Items: 24329

In [13]:
# выше видим разброс по пользователям и товарам и дальше мы перейдем к warm-start (только известные пользователи)

In [14]:
data_val_matcher.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
2248412,2445,41125177682,629,847774,1,9.99,315,-2.0,0,91,-1.0,0.0
2248413,2445,41125177682,629,863337,2,0.50,315,0.0,0,91,0.0,0.0

# Prefilter items

In [15]:
n_items_before = data_train_matcher['item_id'].nunique()

data_train_matcher = prefilter_items(data_train_matcher, item_features=item_features, take_n_popular=15000)

n_items_after = data_train_matcher['item_id'].nunique()
print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

/home/mrb/Rec_sys_GB/utils.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'] = data['sales_value'] / (np.maximum(data['quantity'], 1))

Decreased # items from 86343 to 15001

# Make cold-start to warm-start

In [16]:
# ищем общих пользователей
common_users = list(set(data_train_matcher.user_id.values)&(set(data_val_matcher.user_id.values))&set(data_val_ranker.user_id.values))

# оставляем общих пользователей
data_train_matcher = data_train_matcher[data_train_matcher.user_id.isin(common_users)]
data_val_matcher = data_val_matcher[data_val_matcher.user_id.isin(common_users)]
data_train_ranker = data_train_ranker[data_train_ranker.user_id.isin(common_users)]
data_val_ranker = data_val_ranker[data_val_ranker.user_id.isin(common_users)]

print_stats_data(data_train_matcher,'train_matcher')
print_stats_data(data_val_matcher,'val_matcher')
print_stats_data(data_train_ranker,'train_ranker')
print_stats_data(data_val_ranker,'val_ranker')

train_matcher
Shape: (666523, 13) Users: 1283 Items: 14971
val_matcher
Shape: (26314, 12) Users: 1283 Items: 11359
train_ranker
Shape: (26314, 12) Users: 1283 Items: 11359
val_ranker
Shape: (92903, 12) Users: 1283 Items: 21707

# Init/train recommender

In [17]:
recommender = MainRecommender(data_train_matcher)

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/14971 [00:00<?, ?it/s]

# Eval recall of matching

In [19]:
result_eval_matcher = data_val_matcher.groupby(USER_COL)[ITEM_COL].unique().reset_index()
result_eval_matcher.columns=[USER_COL, ACTUAL_COL]
result_eval_matcher.head(2)

   user_id                                             actual
0        1  [829563, 830156, 832990, 840361, 856942, 87157...
1        6  [854502, 1008032, 10149640, 15926712, 15972705...

In [20]:
%%time
# для понятности расписано все в строчку, без функций, ваша задача уметь оборачивать все это в функции
result_eval_matcher['own_rec'] = result_eval_matcher[USER_COL].apply(lambda x: recommender.get_own_recommendations(x, N=N_PREDICT))

CPU times: user 11.9 s, sys: 121 ms, total: 12 s
Wall time: 12.1 s

### Пример оборачивания

In [22]:
# # сырой и простой пример как можно обернуть в функцию
def evalRecall(df_result, target_col_name, recommend_model):
    result_col_name = 'result'
    df_result[result_col_name] = df_result[target_col_name].apply(lambda x: recommend_model(x, N=25))
    return df_result.apply(lambda row: recall_at_k(row[result_col_name], row[ACTUAL_COL], k=N_PREDICT), axis=1).mean()

In [23]:
# evalRecall(result_eval_matcher, USER_COL, recommender.get_own_recommendations)

In [24]:
def calc_recall(df_data, top_k):
    for col_name in df_data.columns[2:]:
        yield col_name, df_data.apply(lambda row: recall_at_k(row[col_name], row[ACTUAL_COL], k=top_k), axis=1).mean()

In [25]:
def calc_precision(df_data, top_k):
    for col_name in df_data.columns[2:]:
        yield col_name, df_data.apply(lambda row: precision_at_k(row[col_name], row[ACTUAL_COL], k=top_k), axis=1).mean()

### Recall@50 of matching

In [26]:
TOPK_RECALL = 500

In [27]:
sorted(calc_recall(result_eval_matcher, TOPK_RECALL), key=lambda x: x[1],reverse=True)

[('own_rec', 0.1841560330151736)]

### Precision@5 of matching

In [28]:
TOPK_PRECISION = 5

In [29]:
sorted(calc_precision(result_eval_matcher, TOPK_PRECISION), key=lambda x: x[1],reverse=True)

[('own_rec', 0.13031956352299298)]

# Evaluation on test dataset

In [32]:
result_eval_ranker = data_val_ranker.groupby(USER_COL)[ITEM_COL].unique().reset_index()
result_eval_ranker.columns=[USER_COL, ACTUAL_COL]
result_eval_ranker.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        6  [920308, 926804, 946489, 1006718, 1017061, 107...

## Eval matching on test dataset

In [33]:
%%time
result_eval_ranker['own_rec'] = result_eval_ranker[USER_COL].apply(lambda x: recommender.get_own_recommendations(x, N=N_PREDICT))

CPU times: user 9.46 s, sys: 36.4 ms, total: 9.5 s
Wall time: 9.56 s

In [34]:
# померяем precision только модели матчинга, чтобы понимать влияение ранжирования на метрики

sorted(calc_precision(result_eval_ranker, TOPK_PRECISION), key=lambda x: x[1], reverse=True)

[('own_rec', 0.317692907248636)]

precision@5 >= 0.25

In [35]:
# смотрим на метрики выше и сравниваем что с ранжированием и без, добавляем фичи и то же смотрим

# Оценка на тесте для выполнения курсового проекта

In [36]:
data_test = pd.read_csv('retail_test1.csv')

In [37]:
data_test = data_test[data_test.user_id.isin(common_users)]

In [38]:
result_eval_ranker1 = data_test.groupby(USER_COL)[ITEM_COL].unique().reset_index()
result_eval_ranker1.columns=[USER_COL, ACTUAL_COL]
result_eval_ranker1.head(2)

   user_id                                             actual
0        1  [880007, 883616, 931136, 938004, 940947, 94726...
1        6  [956902, 960791, 1037863, 1119051, 1137688, 84...

In [39]:
%%time
result_eval_ranker1['own_rec'] = result_eval_ranker1[USER_COL].apply(lambda x: recommender.get_own_recommendations(x, N=N_PREDICT))

CPU times: user 7.43 s, sys: 42.7 ms, total: 7.48 s
Wall time: 7.51 s

In [40]:
sorted(calc_precision(result_eval_ranker1, TOPK_PRECISION), key=lambda x: x[1], reverse=True)

[('own_rec', 0.2590753424657534)]